#page-categories {
	label {
		display: block;
		padding-bottom: .5rem;

		span {
			color: black;
			font-size: 1.5rem;

			&::after {
				background-color: #e53935;
				border-color: #e53935;
			}
		}

		input:not(:checked)+span:not(.lever):after {
			background-color: transparent;
		}
	}
}