#page-categories {
	label {
		display: block;
		padding-bottom: .5rem;

		span {
			color: black;
			font-size: 1.2rem;

			&::after {
				background-color: #e53935;
				border-color: #e53935;
			}
		}

		input:not(:checked)+span:not(.lever):after {
			background-color: transparent;
		}
	}

	.subcategories {
		padding-bottom: 1rem;
		label {
			padding-left: 3rem;

			span {
				font-size: 1rem;
			}
		}
	}

	.button-wrapper {
		text-align: center
	}
}