body {
	font-size: 1.2rem;
}

h1 {
	text-align: center;
	background-color: #E53935 !important;
	color: white;
	margin: 0 0 2rem;
	padding: 2.8rem 0 1.8rem;
	font-size: 3rem;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

#pages {
	>div {
		display: none;
	}
}

.hund {
	position: fixed;
	right: 0;
	top: 25%;
	img {
		height: 40vh;
	}
}

.button-wrapper {
	padding-top: 2rem !important;
	text-align: center
}

@mixin hover() {
	transition: all .2s linear;
	&:hover {
		transform: scale(1.025);
	}
}