#page-login {
	text-align: center;
	button {
		height: auto;
		font-size: 2rem;
		padding-top: 1rem;
		@include hover();
		img {
			display: block;
			height: 10rem;
			margin: 0 auto;
		}
	}

	.col {
		padding-bottom: 5rem;
	}
}