#page-login {
	text-align: center;
 	h1 {
		color: black;
		size: 20px;
	}

	button {
		height: auto;
		font-size: 2rem;
		padding-top: 1rem;
		img {
			display: block;
			height: 10rem;
			margin: 0 auto;
		}
	}

	.col {
		padding-bottom: 5rem;
	}
}